@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: source-serif-pro,
        Georgia,
        Cambria,
        "Times New Roman",
        Times,
        serif;
}
h1, h2, h3, h4{
    --tw-text-opacity: 1;
    color: rgb(133 77 14 / var(--tw-text-opacity));
}